<%- include('partials/header.ejs') %>
<div class="main">
  <h1>Hello <%= username %></h1>
  <a href="/auth/logout" class="btn btn__form--signout">Sign Out</a>
</div>
<%- include('partials/footer.ejs') %>
